.sidebar {
	
	z-index:997;
	
	margin-left:0px;
}
.pagecontent{
	padding-top:100px;
	
	z-index:990;
	width: 80%;

	margin: 0 auto;
	padding-bottom:5px;
}

#specialorder {
	padding:5px 20px;
	border-radius:10px;
}

input {
	border-radius:5px;
	border-style:solid;
	border-color:white;
}

input:hover{
	border-style:solid;
	border-color:#BE1A38;
}

textarea {
	border-radius:5px;
	border-style:solid;
	border-color:white;
	border-width:2px;
}

textarea:hover{
	border-style:solid;
	border-color:#BE1A38;
	border-width:2px;
}

#sidebar {
	position:fixed;
	padding-top:70px;
	padding-left:20px;
	background-color:antiquewhite;
	color:rgba(53,41,42,1.00);

	box-shadow: 0px 0px 10px 0px rgb(0,0,0);
	z-index:995;
	width:200px;
	margin-left:0px;
}

#menunav{
	padding-top:65px;;
	position:fixed;
	z-index:995;
	padding-bottom:10px;
	padding-left:100px;
	border-radius:0px;
}

#orderbtn{
	float:right;
}

body {
	background-color:#12293a;
	padding:0px;
	margin-top:0px;
}

.block{
	background-color:antiquewhite;
	margin-top:20px;
	margin-bottom:20px;
	
	width:100%;
	box-shadow:0px 0px 5px 0px rgb(0,0,0);
	color:rgba(53,41,42,1.00);
	margin: 0 auto;
	margin-bottom:20px;
	padding: 40px 20px 20px 20px;
	border-radius:5px;
	box-shadow:0 0 20px -4px rgb(0,0,0);
}

.note{
	background-color:#BE1A38;
	
	margin-bottom:10px;
	border-radius:8px;
	color:antiquewhite;

}


.note i {

	float:left;
	padding-top:10px;
	padding-left:10px;
	margin-right:10px;
	padding-bottom:10px;
	height:80%;
}
.note p {


	
	padding:10px;
	magin-top:0px;
	padding-bottom:10px;
}

#hudsonslogo{
	width: 80px;
	height: 80px;
	float: left;
	z-index: 999;
	position:fixed;
}
#hudsonslogomobile{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	display:none;
	margin-bottom:20px;
	
}

#navbar {
	background-color:#BE1A38;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:antiquewhite;
	
	z-index: 998;
	position:fixed;
	
}

container-fluid {
	padding: 0px;
}

.footer {
	color:antiquewhite;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10%;
	padding-right:10%;
	
	background-color:#BE1A38;
	margin-bottom:0px;
}

.footer:after{
	background-color:#BE1A38d;
	height:100%;
}

.listitem {
	padding-top:15px;
	padding-left:15px;
	color:antiquewhite;
	display:inline-block;
	
}

.menuimage {
	width:90%;
	padding:0 auto;
}

.listitem:hover{
	color:#FFBEAD;
	
}

.alright {
	text-align:right;
}

.heading {
	
	color:antiquewhite;
	padding:20px 20px;
}

.rightimage img{
	width:100%;
}
.mmenubtn{
		min-width:100%;
		text-align:center;
		background-color:#12293a;
	border-radius:3px;
	margin:2px;
	padding:5px 10px;
}

.menuitem {
	margin:10px;
	outline:solid;
	outline-width:1px;
	outline-color:#F9E1C1;
	padding:20px;
	box-shadow:0px 0px 20px 0px #F9E1C1;
	
}

.menuitem:hover {
	outline-width:3px;
	outline-color:#BE1A38;
	padding:15px;
}

.menuitem img {
	
	width:100%;
	padding-bottom:15px;
	
}

button {
	
	background-color:#BE1A38;
	border: solid;
	color:antiquewhite;
	padding:10px 30px;
	cursor:pointer;
	border-radius:5px;
}

button:hover{
	background-color:antiquewhite;
	color:#BE1A38;
}

h1 {
	font-family: 'Roboto Slab', serif;
}
h2 {
	font-family: 'Roboto Slab', serif;
}
#mobilemenu {
	display:none;
	padding-bottom:5px;
	padding-top:100px;;
	color:antiquewhite;
	
	
}
@media all and (max-width: 450px){
	.menuitem {
		width:100%;
	}
}
@media all and (max-width: 1300px){
	.menuitem {
		width:100%;
		margin:5px;
		padding:10px;
	}
}
@media all and (max-width: 600px) {
    #sidebar { display: none; }
	
	#hudsonslogo {display: none; }
	
	.pagecontent{
		width:98%;
		padding-top:80px;
	}
	#hudsonslogomobile {display:block;}
	#menunav{padding-top:60px;padding-left:5px;padding-right:5px;padding-bottom:5px}
	.topheading {display:none;}
	.menubtn{
		padding:10px 15px;
		
	}
}
@media all and (max-width:410px){
	
	#mobilenav{display:block;}
	#desktopnav{display:none;}
	#desktopback{display:none;}
	#navbar p {
		
		
		
	}
	#mobilemenu{
		display:block;
	}
	#menunav{
		position:fixed;
		padding-bottom:5px;
		padding-top:60px;
	}
	.menubtn{
		width:30%;
		margin:0 auto;
		font-size:10pt;
		display:none;
	}
	
	#orderbtn{
		
		width:100%;
		display:block;
	}
	
	
	
	
}
@media all and (min-width:410px){
	#mobilenav{display:none;}
	#desktopnav{display:block;}
	#desktopback{display:block;}
}
@media all and (min-width: 600px) {
	#homebutton {padding-left:100px;}
}
@media all and (min-width: 800px) {
	#block {width:600px;}
}
