.sidebar {
	
	z-index:997;
	position:fixed;
	
}
.pagecontent{
	
	margin-top:60px;
	z-index:990;
}
#sidebar {
	padding-top:70px;
	
	background-color:antiquewhite;
	color:rgba(53,41,42,1.00);

	box-shadow: 0px 0px 10px 0px rgb(0,0,0);
	z-index:995;
}

body {
	background-color:#12293a;
}

.block{
	background-color:antiquewhite;
	margin-top:20px;
	margin-bottom:20px;
	
	width:90%;
	box-shadow:0px 0px 5px 0px rgb(0,0,0);
	color:rgba(53,41,42,1.00);
	margin: 0 auto;
}

#hudsonslogo{
	width: 80px;
	height: 80px;
	float: left;
	z-index: 999;
	position:fixed;
}

#navbar {
	background-color:#BE1A38;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:antiquewhite;
	
	z-index: 998;
	position:fixed;
	
}

container-fluid {
	padding: 0px;
}

.listitem {
	padding-top:15px;
	padding-left:15px;
	color:antiquewhite;
	display:inline-block;
	
}

.alright {
	text-align:right;
}

@media all and (max-width: 600px) {
    #sidebar { display: none; }
	
	#hudsonslogo {display: none; }
}

@media all and (min-width: 600px) {
	#homebutton {padding-left:100px;}
}